body {
    font-family: serif;
    color: saddlebrown;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 70%;
}


.form__group {
    display: flex;
    margin-bottom: 15px;
}

.form__group-title {
    width: 30%;
}

.form__group-content {
    width: 70%;
}

.form__label--required {
    margin-left: 5px;
    padding: 4px 6px;
    border-radius: 3px;
    color: red;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input,
.form__input--textarea textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #ddd;
    color: gray;
    appearance: none;
    width: 100%;
}

.form__input--name input{
    margin-right: 5%;
    width: 40%;
}

.form__input--tel input {
    width: 20%;
    margin: 0 10px;
}
.form__input--tel:first-child {
    margin-left: 0;
}

.form__input--text input {
    height: 30%;
}

.form__input--textarea textarea {
    height: 150px;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: saddlebrown;
    color: #fff;
    cursor: pointer;
}